cli_helper_client/lib/CException
*.swp
*.swn
*.swo
*/build
build
*/build/*
*/sdkconfig.esp-wrover-kit
*/sdkconfig.esp32-c3
*/sdkconfig.esp-dev
*.esp-wrover-kit
*.esp-dev
*.esp32-c3
cppcheck_report.txt

projects/lib_tests/.cache/

projects/bmp280/.cache/

projects/plantsitter/.cache/

projects/relays/.cache/
